<script id="person_template" type="text/x-jquery-tmp">
      <div class="person control-group">
        <label class="control-label">Person ${num}</label>
        <div class="controls">
          <input name="people[][name]" placeholder="Name" type="text"></input>
          <input name="people[][email]" placeholder="Email" type="text"></input>
        </div>
      </div>
    </script>



      <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="brand">SimpleSecretSanta</div>
        </div>
      </div>
    </div>
    <div class="container" id="main">
      <form action="/send" class="form-horizontal" method="post">
        <div class="control-group">
          <label class="control-label">Title</label>
          <div class="controls">
            <input name="title" placeholder="Title for your event" type="text"></input>
          </div>
        </div>
        <div class="person control-group">
          <label class="control-label">Person 1</label>
          <div class="controls">
            <input name="people[][name]" placeholder="Name" type="text"></input>
            <input name="people[][email]" placeholder="Email" type="text"></input>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <a class="btn add-more">Add More</a>
          </div>
        </div>
        <div class="form-actions">
          <input class="btn btn-primary btn-large" type="submit" value="Send Emails!"></input>
        </div>
      </form>
    </div>
