<h1> ADD FRIENDS </h1>

	<section id='new-friend'>
		<div class='friend-form'>
			<input type="text" name='firstName' placeholder='First Name'><br>
			<input type="text" name='lastName' placeholder='Last Name'><br>
			<input type="text" name='email' placeholder='Email'><br>
			<br>
			<button class='add'>Add A Friend</button>
		</div>
	</section>
	<section id='friends'></section>
