<!DOCTYPE html>
<html>
<head>
  <title>Elfst.R</title>

  <!-- Little Icon On Tab -->
  <link rel="shortcut icon" type="image/png" href="http://www.woodus.com/den/gallery/graphics/dq9ds/head/santas_hat.png">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- SNOW FALL JS -->
<script src="snowstorm.js"></script>



</head>
<body>

  <header>
    <section class="module parallax parallax-1">
    <div class="container">

   <h1>Elfst.R</h1>

    </div>
    </section>

  </header>

<section class="module content">
    <div class="container">

		<div class = "website_note">
    SANTA IS ON VACATION and the reindeers got the dancing bug! The elves are busy making toys and they need your help. Can you please help them? Fill in the forms below with the information about your
		Secret Santa Exchange Party. We will take care who you are suppose to buy
		presents for!
    </div>
	
  </div>

</section>
	<br><br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>




<section class="module parallax parallax-2">

<div class="container">
  <br><br><Br>
<h3>Party Deets</h3>


<section class="module content">
    <div class="container">

 <div class="party_containers">
  <div class="party">
 
    PARTY ORGANIZER NAME <input type="text" class="organizer_name" placeholder="NAME OF ORGANIZER" />
    PARTY NAME <input type="text" class="party_name" placeholder="PARTY NAME" /><br>
    DATE OF PARTY <input type="date" class="party_date">
    
    BUDGET PRICE OF GIFT<input type="text" class="budget" value="$"/>

  <br>
    MESSAGE <textarea cols="80" rows="10" class="message" placeholder="Enter a message"></textarea><br><br>
  
  
  </div><!-- .party  -->
</div> <!--./party_containers -->

</div><!-- .container  -->
</section><!-- .module content  -->

 </div><!-- .module parallax parallax-2 -->
</section><!-- .container  -->

<section class="module parallax parallax-3">
  <div class="container">
<br><br><br>
 <h3>Add Secret Santas</h3>
<!--   </div>
</section> -->

<section class="module content">
  <div class="container">
  <div class="row_containers">
    <div class="row">
   
      <input type="text" class="participant_name" placeholder='ENTER FULL NAME'/>

      <input type="text" class="participant_email" placeholder='EMAIL'/>
      <a href="#" class="add_name">ADD SECRET SANTA</a>
    </div> <!-- .row -->
  </div> <!-- ./row_containers -->
<br><br><br>
  <a href="#" id="submitNames">SUBMIT</a>

  </div>
</section>
  </div>
</section>





<div class="containerd">

  <%= yield %>

</div>

<!-- REINDEER MOVING -->


<div id="animatedImage" style="position:fixed;padding-top:700px;z-index:99;left:1px;bottom:1px;">

<img id="img1" src="https://33.media.tumblr.com/01e7b577cebeba1cc3f3bdcb0e8d54a3/tumblr_nf7qxyWhJ31tcl6yio1_500.gif" alt="animatedImage" style="height: 120px" />

 <img id="img1" src="https://38.media.tumblr.com/80a93f18b4349c45d30bc70d2b87b594/tumblr_mfm5okRpKT1rgpyeqo1_250.gif" alt="animatedImage" style="height: 120px" />

 <img id="img1" src="https://33.media.tumblr.com/01e7b577cebeba1cc3f3bdcb0e8d54a3/tumblr_nf7qxyWhJ31tcl6yio1_500.gif" alt="animatedImage" style="height: 120px" />
</div>

<script>

var distanceBall=0; 
var directionBall=1; 
document.getElementById('animatedImage').style.top = 10;
document.getElementById('animatedImage').style.left = 10;
var timerToggle=null; 
animateBall();
var setting = 0;          

  function animateBall() {   
  document.getElementById("animatedImage").style.left=distanceBall + "px";
  
  distanceBall+=directionBall;

  if (distanceBall>window.screen.width -1) { 
  document.getElementById('animatedImage').style.top = 10;
  document.getElementById('animatedImage').style.left = 10;
  directionBall = -1;
  document.getElementById('img1').className = 'left';
  }

  if (distanceBall<0) {
  directionBall = 1;
  document.getElementById('img1').className = 'right';
  }

  timerToggle=setTimeout(function() { animateBall(); }, 23);
  }
</script>
<embed src="audio/pentatonix.mp3" autostart="true" loop="true"
width="2" height="0">
</embed>


</body>
</html>